# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*

# IDE/editor files
.vscode/
.idea/

# macOS
.DS_Store

# Flask
instance/

# Logs
*.log
